body{
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

&::before{
  content: '';
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url('images/Bassin\ Villette.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.head{
    position: relative;
    background-color: #4A919E;
    opacity: 0.8;
    display: flex;
    align-items: center;
    margin: 0 5px 20px 5px;
  }

  .head img{
    position: relative;
    border-radius: 150px 150px 150px 150px;
    border: solid 10px #4A919E;
    margin: 0 20px 0 0;
  }

  .imgContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .headContainer{
    display :flex;
    flex-wrap: wrap;
  }

  .head h1{
    font-size: 55px;
    margin-bottom: 10px;
  }

  .head h2{
    font-size: 25px;
    margin-bottom: 5px;
    margin-left: 10px;
  }

  .head h3{
    font-size: 15px;
    margin-left: 10px;
  }

  button{
    position: relative;
    margin: 0 5px 0 5px;
  }

  button:hover{
    cursor: pointer;
  }

  .container{
    display: flex;
    justify-content: space-between;
  }

  .headButton{
    position: relative;
    display: inline-block;
    width: 19%;
    color:white;
    font-weight: bold;
    text-shadow: -1px 1px 0 #000,
                         1px 1px 0 #000,
                         1px -1px 0 #000,
                         -1px -1px 0 #000;
  }

  #button1{
    background-color: #CE6A6B;
  }

  #button2{
    background-color: #EBACA2;
  }

  #button3{
    background-color: #BED3C3;
  }

  #button4{
    background-color: #4A919E;
  }

  #button5{
    background-color: #212E53;
  }

  #textToReplace {
    transform: translateX(-100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  #textToReplace.visible {
    transform: translateX(0);
  }

  #paragraphIn {
    padding: 5px 5px 5px 20px;
    margin: 5px;
    background-color: rgba(74, 145, 158, 0.8);
  }

